<!DOCTYPE html>
<html>
  <head>
    <title><%= @page.try(:title) || 'Index page' %></title>

    <%= csrf_meta_tags %>

    <link href="http://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'content_editor', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <br/>

    <%= yield %>

    <div class="container">
      <footer class="footer">
        <p>&copy; <%= Date.today.year %> NoCoffee</p>
      </footer>
    </div>

  </body>
</html>
