<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-xs-right">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About us', static_page_path(:about), class: "nav-link #{'active' if current_page?(static_page_path(:about))}" %>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">My simple site</h3>
  </div>
</div>
