<% boxcab_page title: 'Home page' %>

<div class="container">
  <div class="jumbotron">
    <div class="content">
      <h1>
        <%= boxcab_content 'title', type: 'string', default: 'My home page' %>
      </h1>
      <div class="lead">
        <%= boxcab_content 'introduction', type: 'string' do %>
          <p>Simple text</p>
        <% end %>
      </div>
    </div>

    <div class="mask"></div>

    <% if (background = boxcab_content('background', type: 'image')) != '' %>
      <div class="background">
        <img src="<%= background %>" />
      </div>
    <% end %>
  </div>

  <div class="row marketing">
    <div class="col-sm-9">
      <%= boxcab_content 'body', type: 'markdown' do %>
        <h4>Markdown text here</h4>
        <br/>
        Maecenas sed diam eget risus varius blandit sit amet non magna.
      <% end %>
    </div>

    <div class="col-sm-3 gallery">
      <%= boxcab_content('gallery', type: 'list', default: 3) do %>
        <div class="media">
          <div class="media-left">
            <a href="<%= boxcab_content('link', type: 'string', default: '#', position: 2) %>">
              <img class="media-object" src="<%= boxcab_content('image', type: 'image', default: 'http://placehold.it/200x200', position: 1) %>" />
            </a>
          </div>
        </div>

        <hr/>
      <% end %>
    </div>
  </div>
</div>
