<% boxcab_page title: 'About us' %>

<div class="container">
  <div class="jumbotron">
    <div class="content">
      <h1>
        <%= boxcab_content 'title', type: 'string', default: 'About us' %>
      </h1>
      <div class="lead">
        <%= boxcab_content 'introduction', type: 'string', default: '<p>Simple text</p>' %>
      </div>
    </div>

    <div class="mask"></div>

    <% if (boxcab_content = boxcab_content('background', type: 'image')) != '' %>
      <div class="background">
        <img src="<%= background %>" />
      </div>
    <% end %>
  </div>

  <div class="row marketing">
    <div class="col-sm-12">
      <%= boxcab_content 'body', type: 'markdown' do %>
        <h4>Markdown text here</h4>
        <br/>
        Maecenas sed diam eget risus varius blandit sit amet non magna.
      <% end %>
    </div>
  </div>
</div>
